.navbar {
    background-color: #333;
    overflow: hidden;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.main {
    padding: 20px;
    font-family: 'Helvetica', serif;
    box-shadow: 5px 5px 7px 5px #888888;
    width: 40%;
    margin-top: 5%;
}

.main h2 {
    font-size: 40px;
    text-align: center;
    font-family: 'Helvetica', serif;
}

input {
    font-family: 'Helvetica', serif;
    width: 100%;
    font-size: 20px;
    padding: 10px 20px;
    margin: 8px 0;
    border: none;
    border-bottom: 2px solid #767474;
    
}

input[type=submit] {
    font-family: 'Helvetica', serif;
    width: 70%;
    background-color: #767474;
    border: none;
    color: white;
    padding: 10px 25px;
    margin: 4px 2px;
    border-radius: 10px;
    position: relative;
    left: 15%;
}
p{
    text-align: center;
}
#tasks  {
    margin-top: 20px;
    margin-left: 25%;
   
}
#tasks li {
    display: inline;
    margin: 5vw;
    font-size: 20px;
    font-weight: bold;
}
.container h1
{
text-align: center;
color: red;
}